    <!-- JS -->
    <script defer="defer" src="//cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
    <script defer="defer" src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script defer="defer" src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script defer="defer" src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script defer="defer" src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script defer="defer" src="{{ site.url }}/assets/js/scripts.js"></script>
    {% if site.tracking_id %}
    <!-- Asynchronous Google Analytics snippet -->
      {% include analytics.html %}
    {% endif %}
