                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="dx_icon dx_icon-mail"></i></a>{% endif %}
                        {% if site.twitter %}<a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="dx_icon dx_icon-twitter"></i></a>{% endif %}
                        {% if site.facebook %}<a class="social-btn" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="dx_icon dx_icon-facebook"></i></a>{% endif %}
                        {% if site.google.plus %}<a class="social-btn" href="http://plus.google.com/+{{ site.google.plus }}" target="_blank" rel="noopener noreferrer"><i class="dx_icon dx_icon-google-plus"></i></a>{% endif %}
                        {% if site.github-url %}<a class="social-btn" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="dx_icon dx_icon-github"></i></a>{% endif %}
                  </h3>
