
$break-small: 480px;
$underline-color: #E1E1E1;


@import "_vars";

/* Paginate
* * * * * * * * * * * */
.pagination {
    div {
        width: 31%;
        display: inline-block;
    }
    padding: inherit 2px;
    @media (max-width: $break-small) {
        padding: 0 2px;
        .button {
            margin: 2px 0;
        }
        margin-bottom: 10px;
    }
}

/* Post
* * * * * * * * * * * */

.post-date {
    font-family: 'Montserrat';
    font-weight: normal;;
}

/* Styling
 * * * * * * * * * * */
hr {
    border-top: 0.5px solid $underline-color;
}
.theme-footer {
    font-weight: normal;;
    font-size: 15px;
    color: $light-color;
    padding: $base-spacing;
}
.copyright {
    color: $accent-color;
}

#img-about {
    margin: inherit $base-spacing;
    float: left;
}
.about-img {
    height: $about-image-size;
    width: $about-image-size;
    border-radius: $about-image-size;
    margin: $base-spacing/3 $base-spacing/5;
    margin-right: $base-spacing;
}
.no-image {
    @extend .about-img;
    height: $about-image-size/1.2;
    width: $about-image-size/1.2;
    border-radius: $about-image-size/1.2;
    background: $accent-color;
}
.about-stub {
    margin: 0 $base-spacing/2;
    padding: $small-spacing;
    font-weight: normal;;
    @media (max-width: $break-small) {
    }

    h2 {
      margin: 12px auto;
    }
}
.page-suggestion {
  margin-top: $base-spacing;
}


/* Share
 * * * * * * * * * * */
.icon {
    border: 1px solid #afb6ca;
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    zoom: 1;
    text-indent: -9999px;
    margin: 0 8px;
    opacity: 0.7;
    border-radius: 50%;
    transition: 0.3s;
}
.icon-github {
    background: url("/images/github.png") center no-repeat #afb6ca;
 }
.icon-github:hover {
    background: url("/images/github.png") center no-repeat $accent-color;
}
.icon-csdn {
    background: url("/images/csdn.png") center no-repeat #afb6ca;
 }
.icon-csdn:hover {
    background: url("/images/csdn.png") center no-repeat $accent-color;
}
.icon-mail {
	background: url("/images/mail.png") center no-repeat #afb6ca;
}
.icon-mail:hover {
	background: url("/images/mail.png") center no-repeat $accent-color;
}
.icon-rss {
	background: url("/images/rss.png") center no-repeat #afb6ca;
}
.icon-rss:hover {
	background: url("/images/rss.png") center no-repeat $accent-color;
}
